<h1>Edit task</h1>

<%= simple_form_for(@task) do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <%= f.input :completed %>
  <%= f.submit %>
<% end %>

<hr>

<%= link_to "Back to list", tasks_path, :class => :link %>
